/* @font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/skins/page/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/skins/page/fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/skins/page/fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('/skins/page/fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
 */


@font-face {
  font-family: 'TitilliumWeb Black';
  src: url('/skins/page/fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb Bold';
  src: url('/skins/page/fonts/TitilliumWeb-Bold.ttf');
}

@font-face {
  font-family: 'TitilliumWeb ExtraLight';
  src: url('/skins/page/fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb Light';
  src: url('/skins/page/fonts/TitilliumWeb-Light.ttf') format('truetype');

  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('/skins/page/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TitilliumWeb SemiBold';
  src: url('/skins/page/fonts/TitilliumWeb-SemiBold.ttf');
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TitilliumWeb", sans-serif;
  scroll-margin-top: 15rem;
  position: relative;
  /* border: 1px solid red;  */
}

:root {
  --azul: #136ef7;
  --azul-oscuro: #192a4b;
  --azul-medio: #0630A4;
  --azul-claro: #4C7BD1;
  --azul-cielo: #E3EBF8;
  --blanco: #FFFFFF;
  --amarillo: #ffe840;
  --gris-claro: #E5E5E5;
  --gris-oscuro: #333333;
  --gris-medio: #707070;
}


body {
  width: 100%;
  overflow-x: hidden;
  height: 100dvh;
}

.main-general {
  /* margin-top: 240px; */
  min-height: 100dvh;
  z-index: 2;
}

.contenedor-seccion h2,
h2 {
  color: var(--azul-oscuro);
  text-align: center;
  font-weight: 900;
  font-family: 'TitilliumWeb Bold';

}

.contenedor-seccion .descripcion-seccion p {
  font-size: 18px;
}

.contenedor-seccion .descripcion-seccion p::after {
  content: "";
  display: block;
  width: 6em;
  max-width: 70%;
  border-bottom: 2px solid var(--azul);


  height: 5px;
  padding: 5px 0;
  margin: 10px auto;
  margin-bottom: 30px;
}

/*******************
 UTILS FIN 
 *******************/
.bg-azul-o {
  background-color: var(--blueC);
}

.top-line {
  height: 15px;
}

.gap-10 {
  gap: 10rem !important;
}

.gap-md-10 {
  gap: 10rem !important;

}

@media (width >771px) {
  .w-md-50 {
    width: 50% !important;

  }
}

@media (width <771px) {

  .gap-md-10 {
    gap: 1rem !important;
  }
}

.btn-verde {
  background-color: var(--verde);
  color: #FFF;
  border: 1px solid var(--verde);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 5px 25px;
  text-decoration: none;
  transition: all 300ms;
  font-weight: 500;
  align-items: center;
  gap: 5px;
}

.btn-verde:hover {
  background: var(--verdeO);
  border: 1px solid var(--verdeO);
  color: #FFF;

}


.btn-azul-oscuro {
  background: var(--azul-oscuro) !important;
  color: #FFF !important;
  border: 3px solid var(--amarillo);
  border-radius: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 13px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  gap: 10px;
}

.btn-azul-oscuro:hover {
  background: var(--azul-medio) !important;
  color: #FFF;
}

.btn-amarillo {
  background: var(--amarillo) !important;
  color: var(--azul-oscuro) !important;
  border: 2px solid var(--blanco);
  border-radius: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 13px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-weight: 800;
  cursor: pointer;
  width: fit-content;
  gap: 10px;
  margin: 15px auto;
  font-size: 18px;
}

.btn-amarillo:hover {
  border: 2px solid var(--azul-oscuro);
}

.btn-azul {
  background: var(--azul) !important;
  color: #FFF !important;
  /* border: 3px solid var(--amarillo); */
  border: none;
  border-radius: 10px;

  align-items: center;
  padding: 7px 40px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-top: auto;
  gap: 10px;
}

.btn-azul:hover {
  background: var(--azul-medio) !important;
  color: #FFF;
}


/*******************
 UTILS FIN 
 *******************/



/*******************
 HEADER INICIO 
 *******************/
.header-top-info {
  color: var(--azul-oscuro);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;

}


.welcome-text {
  font-size: 40px;
  font-weight: bold;
  color: var(--azul-oscuro);
  line-height: 1;
}

@media (width < 1576px) {
  .welcome-text {
    font-size: 30px;

  }

}



.highlight {
  color: var(--azul);
  font-size: 22px;
}

header {
  /* position: fixed; */
  z-index: 3;
  top: 0;
  background-color: var(--blanco);
  width: 100%;
}

header .navbar {
  background-color: var(--azul-oscuro);
}

header .navbar .navbar-nav {
  justify-content: space-between;
  width: 100%;
}

header .navbar .nav-item {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 120px;
  justify-content: center;
  /* border-right: 1px solid #ffffff3d; */
  text-align: center;
}

header .vr {
  background-color: aliceblue;
}

.nav-item .nav-link {
  color: var(--blanco);
}

.nav-item .nav-link:hover {
  color: var(--azul);
  font-weight: 600;
}


.nav-item .nav-link.active {
  color: var(--azul);
  font-weight: 600;

}

.nav-item.links-redes a,
.redes-footer a {
  color: var(--azul);
  text-decoration: none;
  transition: all 300ms;
}

.nav-item.links-redes a:hover,
.redes-footer a:hover {
  transform: scale(1.3);
  color: var(--azul-cielo);
}

.dropdown-toggle::after {
  color: var(--amarillo);
}

.navbar {

  transition: all 900ms ease-in-out;
  /* Transición suave */
}

.static {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  transition: all 900ms ease-in-out;

  background-color: #2c487e !important;

}

.released {
  background-color: var(--azul-oscuro) !important;
}

/*******************
 HEADER FIN 
 *******************/


/*******************
 FOOTER INICIO 
 *******************/

footer {
  position: relative;
  bottom: 0;
  width: 100%;

  left: 0;


}

footer iframe {
  width: 100%;

}

footer .footer {
  padding: 30px 0;
  background-color: var(--gris-oscuro);
  margin-top: -6px;
}

.titulo-footer,
.derechos {
  color: var(--blanco);
  font-weight: 600;
  font-size: 19px;
}

.footer-info {
  color: var(--blanco);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;

}

.id_2.contenedor-seccion .row {
  gap: 10px;
  /* justify-content: space-between !important;
  display: flex; */
}

.id_2.contenedor-seccion .col-sm-3 {
  width: fit-content !important;
  /* min-width: 25%; */
  /* padding: 0; */
}

.id_2.contenedor-seccion .col-sm-3 .col-sm-12 {
  padding: 0;

}

.id_2.contenedor-seccion a {
  border: 1px solid var(--blanco);
  border-radius: 0;
  color: var(--blanco);
  width: fit-content;
  text-wrap: nowrap;
  padding: 5px 10px;
  transition: all 300ms ease-in-out;
}

.id_2.contenedor-seccion a:hover {
  background-color: var(--azul);
}



footer .btn-primary {
  width: fit-content;
  padding: 5px 18px;
  font-weight: 700;
  font-size: 20px;
}

.redes-footer {
  color: var(--blanco);
  font-weight: 600;
}


/*******************
 FOOTER FIN 
 *******************/







/* -------------------
 BANNERS PRINCIPAL INICIO
 -------------------- */
.slider-principal {
  width: 100%;
}

.fondo-imagen img {
  width: 100%;
  /* height: 400px; */
  aspect-ratio: 14/5;
  object-fit: fill;
}

.carousel-control-prev-icono {
  font-size: 30px;
  color: #343133;
  background-color: #FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  padding: 4px;
}

.carousel-control-next-icono {
  font-size: 30px;
  color: #343133;
  background-color: #FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 20px;

}

.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.contenido-banner {
  position: absolute;
  width: 50%;
  /* background: #0000008a; */

  height: 100%;
  color: var(--gris-oscuro);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  padding: 0 5%;
}

.contenido-banner h4 {
  font-weight: 500;
  color: var(--azul-oscuro);
  font-size: 35px;
  /* font-family: 'TitilliumWeb Light'; */


}

.contenido-banner h4 .resaltado {
  font-size: 35px;
  color: var(--azul);
  font-weight: 700;

}

.contenido-banner h4::after {

  content: "";
  display: block;
  width: 6em;
  max-width: 70%;
  border-bottom: 2px solid var(--amarillo);
  margin-right: auto;
  padding: 5px 0;
}


.btn-verde {
  background-color: var(--verde);
  color: var(--amarillo);
  border: 1px solid var(--verde);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  padding: 5px 25px;
  text-decoration: none;
  transition: all 300ms;
  font-weight: 500;
}

.btn-verde:hover {
  background: var(--amarillo);
  border: 1px solid var(--verde);

  color: var(--verde);

}

.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}

/* -------------------
 BANNERS PRINCIPAL FIN
 -------------------- */



/* -------------------
 BANNERS INTERNAS INICIO
 -------------------- */
.slider-internas .contenido-banner h4 {
  color: var(--blanco);
  font-weight: 600;
}

/* -------------------
 BANNERS INTERNAS FIN
 -------------------- */


/* -------------------
 BANNERS INNTERNA INICIO
 -------------------- */
.img-banner-interna {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.carousel-indicators .active {
  background-color: var(--verdeclaro);
}

/* -------------------
 BANNERS INNTERNA FIN
 -------------------- */



/*++++++++++++++++++++++++++++++++
 HOME INICIO CONTENIDO AHORRO, CREDITOS, BENEFICIOS
 ++++++++++++++++++++++++++++++++++++++++ */

.contenedor-seccion {
  padding: 50px 0;
}

.contenedor-seccion.id_11 {
  background-size: cover;
}

.id_11 .design-four {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(96%, rgba(212, 229, 253, 1)), color-stop(99%, rgba(211, 228, 253, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  overflow: hidden;
  border-radius: 15px;
  height: 338px;
}

.id_11 .design-four .imagen-contenido {
  padding: 10px 0 10px 0;
  position: relative;
  width: 100%;
  /* height: 200px; */
  background-color: var(--azul);
  overflow: hidden;
  border-radius: 0 0 50% 50% / 0 0 60% 60%;
  /* top: -13px; */
}



.id_11 .design-four .imagen-contenido img {
  margin: auto;
  display: block;
  width: 65px;
}

.id_11 .design-four h2 {
  text-align: center;
  color: var(--azul-oscuro);
  font-size: 26px;
  font-weight: 600;
  font-family: 'TitilliumWeb Bold';
  margin-top: 20px;
}

.id_11 .design-four .descripcion {
  margin-top: 10px;

  padding: 0 30px !important;
  display: flex;
  align-items: center;
  height: 100px;

}

.id_11 .design-four .descripcion p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-wrap: pretty;

  color: var(--gris-oscuro);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0 auto;
}




/*++++++++++++++++++++++++++++++++
 HOME FIN CONTENIDO AHORRO, CREDITOS, BENEFICIOS
 ++++++++++++++++++++++++++++++++++++++++ */

/*++++++++++++++++++++++++++++++++
 HOME INICIO SLIDER NUESTROS ALIADOS
 ++++++++++++++++++++++++++++++++++++++++ */
.id_15 .slider_16 .itemSlider img {
  width: 100%;
  max-width: 180px;
  transition: all 300ms ease-in-out;
  filter: grayscale(1);

}

.id_15 .slider_16 .itemSlider img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/*++++++++++++++++++++++++++++++++
 HOME FIN SLIDER NUESTROS ALIADOS
 ++++++++++++++++++++++++++++++++++++++++ */






/*++++++++++++++++++++++++++++++++
 HOME INICIO FORMULARIO
 ++++++++++++++++++++++++++++++++++++++++ */
h2.titulo-formulario {
  color: var(--amarillo);
  text-align: start;
  font-size: calc(2rem + .9vw);
}

.descripcion-formulario p {
  color: var(--blanco);
  font-weight: 800;
  font-size: 19px;
  font-family: 'TitilliumWeb Bold';

}

.input-field {
  background: var(--blanco);
  outline: none;
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 0.5rem;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  display: block;
  color: #425981;
  font-weight: 500;
  font-size: 1.1em;
  box-shadow: inset 4px 4px 4px rgba(165, 163, 163, 0.315), 4px 4px 4px rgba(218, 218, 218, 0.13);
}

.label-field {
  display: block;
}

/* .input-field:has(:focus:invalid){
  border: 1px solid red;
}
textarea.input-field {
  height: 117px !important;
} */

.form-check-label {
  color: var(--blanco);
}


/*++++++++++++++++++++++++++++++++
 HOME FIN FORMULARIO
 ++++++++++++++++++++++++++++++++++++++++ */





/*++++++++++++++++++++++++++++++++
 HOME INICIO DIRECTORIO
 ++++++++++++++++++++++++++++++++++++++++ */

.contenedor-seccion.id_27 {
  background-size: cover;
}

.three-28 h2 {
  color: var(--blanco);
}

.three-28 .btn-vermas {
  color: var(--blanco);
  font-weight: 500;
  border: 1px solid var(--blanco);
  width: fit-content;
  font-size: 20px;
  margin: 0 auto;
  transition: all 300ms ease-in-out;
  margin-top: 25px;
}

.three-28 .btn-vermas:hover {

  border-color: rgb(228, 228, 228);
  box-shadow: rgba(218, 218, 218, 0.301) 0 4px 2px;
  transform: translateY(-1px);


}

.text-yellow {
  color: var(--amarillo);
}

/*++++++++++++++++++++++++++++++++
 HOME FIN DIRECTORIO
 ++++++++++++++++++++++++++++++++++++++++ */










/*++++++++++++++++++++++++++++++++
INICIO SECCION COMPLETA DIRECTORIO
 ++++++++++++++++++++++++++++++++++++++++ */

.id_30 h2:first-of-type {
  font-size: 2rem;
}

.id_30 .descripcion-seccion {
  margin-bottom: 25px;
}

.id_30 .design-two h2 {
  font-size: 1.3rem;
  text-align: start;
}

.id_30 .design-two .col-sm-6:nth-child(2) {
  padding: 0 51px 0 40px;
}

.id_30 .design-two .col-sm-6 img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  max-height: 325px;
  height: 100%;
  /* box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); */


}

.id_30 .design-two .descripcion {
  font-weight: 600;


  text-align: start;
  text-wrap: pretty;
  /* display: grid;
  place-items: center */
}

.id_30 .design-two {

  margin-bottom: 25px;


  /*  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%; */
}

@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
    scale: .5s;
  }

  to {
    opacity: 1;
    translate: 0 0;
    scale: 1;

  }
}

/*++++++++++++++++++++++++++++++++
 FIN  SECCION COMPLETA DIRECTORIO

 ++++++++++++++++++++++++++++++++++++++++ */




/*++++++++++++++++++++++++++++++++
  INICIO FELICITACIONES

 ++++++++++++++++++++++++++++++++++++++++ */

.id_35 .content-box {
  display: grid;
  justify-content: center;


  animation: reveal2 linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;


}

.id_35 .introduccion-seccion {
  max-width: 950px;
}

.id_35 .introduccion-seccion img {
  width: 100%;
  object-fit: contain;
  height: auto;
}


/*++++++++++++++++++++++++++++++++
 FIN FELICITACIONES

 ++++++++++++++++++++++++++++++++++++++++ */





/*++++++++++++++++++++++++++++++++
  INICIO SEGURO SOCIAL

 ++++++++++++++++++++++++++++++++++++++++ */

.id_37 .design-four .imagen-contenido img {
  margin: auto;
  display: block;
  width: 65px;
}

.id_37 .design-four .imagen-contenido {
  padding: 10px 0 10px 0;
  position: relative;
  width: 100%;
  /* height: 200px; */
  background-color: var(--azul-medio);
  overflow: hidden;
  border-radius: 0 0 50% 50% / 0 0 60% 60%;
  /* top: -13px; */
}

.id_37 .design-four {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(96%, rgba(212, 229, 253, 1)), color-stop(99%, rgba(211, 228, 253, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(212, 229, 253, 1) 96%, rgba(211, 228, 253, 1) 99%, rgba(255, 255, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  overflow: hidden;
  border-radius: 15px;
  height: 470px;
  margin-bottom: 20px;

}

.id_37 .design-four .descripcion p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-wrap: pretty;
  color: var(--gris-oscuro);
  padding: 0 15px;
  /*  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
  margin: 0 auto;
  font-family: 'TitilliumWeb Bold';

}

.id_37 .design-four h2 {
  text-align: center;
  color: var(--azul-oscuro);
  font-size: 26px;
  font-weight: 600;
  font-family: 'TitilliumWeb Bold';
  margin-top: 20px;
}

.four-41,
.four-42 {
  height: 350px !important;
}

/* .contenido-animado {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
} */

/* .id_37 .design-four .contenido{
  height: 72%;
  display: grid;
  place-items: center;
} */
/*++++++++++++++++++++++++++++++++
  FIN SEGURO SOCIAL
 ++++++++++++++++++++++++++++++++++++++++ */



/* ********************
INICIO ACTUALIZACION DE DATOS
****************************/
.id_46 .content-box {}

.id_46 .boton {
  display: grid;
  place-items: center;
}

/* ********************
FIN ACTUALIZACION DE DATOS
****************************/







/* ********************
INICIO FELICIDAD
****************************/

.contenido-felicidad {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 30px 0;
  justify-content: center;
}

.contenido-felicidad section.contenedor-seccion {
  flex: 0 0 auto;
  width: 24%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 0;
  border-radius: 14px;

}

.contenido-felicidad section.contenedor-seccion .content-box {
  padding: 0;
}


.contenido-felicidad section.contenedor-seccion .imagen-contenido-simple img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 14px 14px 0 0;

}

.contenido-felicidad section.contenedor-seccion .descripcion-seccion p::after {
  all: unset;
}

.contenido-felicidad section.contenedor-seccion .descripcion-seccion {
  padding: 0 20px;
  height: 85px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.contenido-felicidad section.contenedor-seccion .descripcion-seccion p {
  font-size: 16px;
  text-wrap: pretty;
  margin: 0;
}

.contenido-felicidad section.contenedor-seccion .boton {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: end;
}

.contenido-felicidad section.contenedor-seccion .boton .btn-azul {
  padding: 7px 20px;
}



.contenido-felicidad section.contenedor-seccion h2 {
  font-size: calc(1.325rem + 0.1vw);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  padding: 0 10px;

}

@media (width < 992px) {
  .contenido-felicidad section.contenedor-seccion {
    flex: 0 0 auto;
    width: 31%;
  }

  .contenido-felicidad section.contenedor-seccion .imagen-contenido-simple img {
    height: auto;
  }
}

@media (width < 768px) {
  .contenido-felicidad section.contenedor-seccion {
    flex: 0 0 auto;
    width: 47.5%;
  }

  .contenido-felicidad section.contenedor-seccion .imagen-contenido-simple img {
    /* height: 167px; */
  }

  .contenido-felicidad section.contenedor-seccion .descripcion-seccion {
    height: 78px;
  }

  .contenido-felicidad section.contenedor-seccion .boton {
    padding: 0 10px 10px 10px;
  }

  .contenido-felicidad section.contenedor-seccion .boton .btn-azul {
    margin: inherit;
    font-size: 14px;
    padding: 4px 15px;
  }

  .contenido-felicidad section.contenedor-seccion h2 {
    font-size: calc(1rem + 0.1vw);
    height: 26px;
  }

  .contenido-felicidad section.contenedor-seccion .descripcion-seccion p {
    font-size: 14px;
  }
}

@media (width < 576px) {}

.id_48 {
  width: 99% !important;
  box-shadow: none !important;
  padding: 20px 0 !important;
}

.id_48 .descripcion-seccion {
  height: auto !important;
}

/* ********************
FIN FELICIDAD
****************************/




/* ********************
INICIO ITEM FELICIDAD
****************************/
.item-felicidad section.contenedor-seccion{
padding: 20px 0;
}
.item-felicidad section.contenedor-seccion .imagen-contenido-simple img

{
  width: 100%;
  object-fit: contain;
}

.item-felicidad section.contenedor-seccion .content-box h2{
  margin: 20px 0;
}

.item-felicidad section.contenedor-seccion .descripcion-seccion p::after{
  all: unset;
}

.item-felicidad section.contenedor-seccion .contenido-seccion{
  display: none;
}

.item-felicidad section.contenedor-seccion .design-four .imagen-contenido img,
.item-felicidad section.contenedor-seccion .design-one .imagen-contenido img,
.item-felicidad section.contenedor-seccion .design-three .imagen-contenido img,
.item-felicidad section.contenedor-seccion .design-five .imagen-contenido img,
.item-felicidad section.contenedor-seccion .design-two .imagen-contenido img
{
  width: 100%;
  object-fit: contain;
}

.item-felicidad section.contenedor-seccion .design-four .descripcion h4,
.item-felicidad section.contenedor-seccion .design-one .descripcion h4,
.item-felicidad section.contenedor-seccion .design-two .descripcion h4

{
  font-size: calc(1rem + .1vw);
}

@media (width < 768px) {
  .item-felicidad section.contenedor-seccion .design-four .imagen-contenido img,
  .item-felicidad section.contenedor-seccion .design-one .imagen-contenido img,
  .item-felicidad section.contenedor-seccion .design-two .imagen-contenido img
  {
   margin-bottom: 20px;
  }

  .item-felicidad section.contenedor-seccion  p,
  .item-felicidad section.contenedor-seccion  p span

  {
    font-size: 15px;
  }
}


/* ********************
FIN  ITEM  FELICIDAD
****************************/








/* ********************
CONTENEDOR DE DOCUMENTOS 
****************************/


.docs-container {
  margin: auto;
}

.docs-container .docs-header {
  height: 45px;
  border-radius: 20px 20px 0 0;
  background-color: var(--low-cian);
  display: flex;
  justify-content: center;
  align-items: center;
}

.docs-container .docs-header h3 {
  color: #fff;
  font-size: 1.5rem;
  font-family: "mont-Regular";
  font-weight: 300;
  margin-bottom: 0;
}

.docs-container .items-docs-row {
  max-height: 500px;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.docs-container .items-docs-row::-webkit-scrollbar {
  width: 5px;
}

.docs-container .items-docs-row::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 50px;
}

.docs-container .items-docs-row .doc-item-theme {
  padding: 10px 20px;
  background-color: var(--cian);
  border-radius: 50px;
  cursor: pointer;
}

.docs-container .items-docs-row .doc-item-theme h4 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "mont-Regular";
  margin-bottom: 0;
}

.docs-container .items-docs-row .doc-item-theme .img-docs {
  width: 25px;
}

.docs-container .items-docs-row .doc-item-file {
  padding: 5px 20px;
  background-color: #eff0f0;
  border-radius: 10px;
  cursor: pointer;
}

.docs-container .items-docs-row .doc-item-file h4 {
  color: #8e9e9e;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "mont-Regular";
  margin-bottom: 0;
}

.docs-container .items-docs-row .doc-item-head {
  padding: 8px 20px;
  background-color: var(--blue);
  border-radius: 8px;
  cursor: pointer;
}

.docs-container .items-docs-row .doc-item-head .documento {
  position: relative;
}

.docs-container .items-docs-row .area {
  position: relative;
}

.docs-container .items-docs-row .adjuntos {
  position: relative;
}

.docs-container .items-docs-row .doc-item-body .documento::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 50px;
  background: var(--cian);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.docs-container .items-docs-row .doc-item-body .area::before {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 50px;
  background: var(--cian);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.docs-container .items-docs-row .doc-item-head span {
  color: #fff;
}

.docs-container .items-docs-row .doc-item-body {
  background: transparent;
  border: 1px solid #e0e0e0;
  cursor: inherit;
}

.docs-container .items-docs-row .doc-item-body span {
  color: #6b8080;
  font-size: 0.8rem;
}

.docs-container .items-docs-row .doc-item-body h4 {
  color: #6b8080;
  font-size: 1.1rem;
}

.docs-container .items-docs-row .doc-item-file .img-docs {
  width: 70px;
}

.docs-container .cont-docs {
  display: none;
}

.docs-container .doc {
  background-color: var(--low-gray);
}

.docs-container .doc {
  padding: 15px 20px;
}

.docs-container .doc:nth-child(2n) {
  background-color: #fff;
}

.docs-container .doc h5 {
  margin-bottom: 0;
  color: var(--blue);
  font-size: 1rem;
  font-family: "mont-Regular";
  font-weight: 100;
}