@media (width < 1576px) {
    .welcome-text {
        font-size: 30px;
    }
}



@media (width < 1492px) {
    .contenido-ahorros section.contenedor-seccion {
        height: 350px;
    }
}

@media (width < 1192px) {
    .contenido-ahorros section.contenedor-seccion {
        height: 310px;
    }
}

@media (width < 992px) {
    .contenido-ahorros section.contenedor-seccion {
        flex: 0 0 auto;
        width: 31%;
        height: 310px;
    }



    .contenido-ahorros section.contenedor-seccion .imagen-contenido-simple img {
        height: auto;
    }
}


@media (width <992px) {

    .contenedor-pestanas{
        flex-wrap: wrap;
    }
    .contenedor-pestanas .nav{
        width: 100%;
    }
    .contenedor-tab .nav-link{
        width: 100%;
    }
    .mostrar-quienessomos2{
        display: none !important;
    }
    .contenedor-pestanas .tab-content{
        width: 100%;
    }
    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .contenido-banner {
        width: 100%;
        padding: 39px 55px 48px 46px;
    }

    .contenido-banner h4 {
        font-size: 13px;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */




    /* -------------------
  HEADER INICIO
  -------------------- */
    header .vr {
        display: none;
    }

    header .navbar .nav-item {

        justify-content: start;
        /* border-right: 1px solid #ffffff3d; */
    }

    header .navbar-nav .dropdown-menu {
        position: absolute;
    }

    header p:first-child {

        line-height: 1;
        text-align: center;
    }

    .welcome-text {
        font-size: 25px;

    }

    .highlight {
        font-size: 18px;
    }

    /* -------------------
  HEADER FIN
  -------------------- */


    /* -------------------
  FOOTER INICIO
  -------------------- */
    footer .col-12 {
        margin-bottom: 20px;
    }

    footer .img img {
        margin: auto;
        display: block;
    }

    .titulo-footer,
    .derechos {
        text-align: center;
        margin: auto;

    }

    .id_2 {
        padding: 15px 0;
    }

    .footer-desc {
        text-align: center !important;
    }

    .id_2 .justify-content-start.text-left {
        justify-content: center !important;
    }

    .footer-info {

        display: grid;
        align-items: center;
        gap: 2px;

        place-items: center;
        margin-bottom: 10px;

    }

    footer .btn-primary {
        margin: auto;
    }


    .redes-footer {
        margin: auto;

    }

    /* -------------------
FOOTER FIN
-------------------- */



    /* ********************
INICIO FELICIDAD
****************************/
    .contenido-felicidad section.contenedor-seccion {
        flex: 0 0 auto;
        width: 31%;
    }

    .contenido-felicidad section.contenedor-seccion .imagen-contenido-simple img {
        height: auto;
    }

    /* ********************
FIN FELICIDAD
****************************/

    /* -------------------
 ORGANIGRAMA INICIO
  -------------------- */
    .barra-progreso {
        width: 100% !important;
        margin: 10px auto !important;
    }

    .id_165 {
        min-height: 450px;
    }

    .id_165,
    .id_166 {
        width: 100% !important;
    }

    /* -------------------
 ORGANIGRAMA FIN
  -------------------- */

    /* -------------------
 CREDITOS INICIO
  -------------------- */
    .contenido-creditos section.contenedor-seccion {
        flex: 0 0 auto;
        width: 31%;
    }

    .contenido-creditos section.contenedor-seccion .imagen-contenido-simple img {
        height: auto;
    }


    /* -------------------
 CREDITOS FIN
  -------------------- */



}

@media (width >771px) {
    .w-md-50 {
        width: 50% !important;

    }
}

@media (width <771px) {

    .gap-md-10 {
        gap: 1rem !important;
    }
}


@media (max-width:767px) {

    /* BANNER INCIIO */
    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .contenido-banner {
        padding: 8px 32px 9px 48px;
    }

    .carousel-control-prev-icono {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .carousel-control-next-icono {

        width: 30px;
        height: 30px;
        font-size: 15px;

    }


    .contenido-banner p {
        display: none;
    }

    .fondo-imagen-responsive .btn-vinotinto {
        font-size: 10px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 12%;
    }



    header .btn-amarillo {
        font-size: 9px !important;
        margin-right: 8px;
    }


    .fondo-imagen-responsive img {
        width: 100%;
        object-fit: contain;
    }

    .img-banner-interna {
        height: auto;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */

    .btn-azul {
        margin: 25px auto 0 auto;
    }


    .contenedor-seccion {
        padding: 25px 0;
    }



    /* ********************
INICIO FELICIDAD
****************************/
    .contenido-felicidad section.contenedor-seccion {
        flex: 0 0 auto;
        width: 47.5%;
    }

    .contenido-felicidad section.contenedor-seccion .imagen-contenido-simple img {
        /* height: 167px; */
    }

    .contenido-felicidad section.contenedor-seccion .descripcion-seccion {
        height: 78px;
    }

    .contenido-felicidad section.contenedor-seccion .boton {
        padding: 0 10px 10px 10px;
    }

    .contenido-felicidad section.contenedor-seccion .boton .btn-azul {
        margin: inherit;
        font-size: 14px;
        padding: 4px 15px;
    }

    .contenido-felicidad section.contenedor-seccion h2:nth-child(1) {
        font-size: calc(1.5rem + 0.1vw);

    }

    .contenido-felicidad section.contenedor-seccion h2 {
        font-size: calc(1rem + 0.1vw);
        height: 26px;
    }

    .contenido-felicidad section.contenedor-seccion .descripcion-seccion p {
        font-size: 14px;
    }



    .item-felicidad section.contenedor-seccion .design-four .imagen-contenido img,
    .item-felicidad section.contenedor-seccion .design-one .imagen-contenido img,
    .item-felicidad section.contenedor-seccion .design-two .imagen-contenido img {
        margin-bottom: 20px;
    }

    .item-felicidad section.contenedor-seccion p,
    .item-felicidad section.contenedor-seccion p span {
        font-size: 15px;
    }

    /* ********************
FIN FELICIDAD
****************************/


    /* ********************
INICIO OPINIONES
****************************/
    .contenido-opiniones .imagen-contenido::after {

        transform: scale(1);
        left: 0;
    }

    .contenido-opiniones .descripcion h4 {
        margin-top: 15px;
    }

    /* ********************
FIN OPINIONES
****************************/


    /* ********************
INICIO SERVICIOS
****************************/

    .contenido-servicios {
        gap: 10px;
    }

    .contenido-servicios section.contenedor-seccion {
        flex: 0 0 auto;
        width: 47.5%;
    }

    .contenido-servicios section.contenedor-seccion .imagen-contenido-simple img {
        /* height: 167px; */
    }

    .contenido-servicios section.contenedor-seccion .introduccion-seccion {

        padding: 0 10px;
    }

    .contenido-servicios section.contenedor-seccion .descripcion-seccion {
        height: 40px;
        padding: 0 10px;
    }

    .contenido-servicios section.contenedor-seccion .boton {
        padding: 0 10px 10px 10px;
    }

    .contenido-servicios section.contenedor-seccion .boton .btn-amarillo {
        margin: inherit;
        font-size: 14px;
        padding: 4px 15px;
    }

    .contenido-servicios section.contenedor-seccion h2:nth-child(1) {
        font-size: calc(1.5rem + 0.1vw);
        height: 26px;
    }

    .contenido-servicios section.contenedor-seccion h2 {
        font-size: calc(1rem + 0.1vw);
        height: 26px;
    }

    .contenido-servicios section.contenedor-seccion .descripcion-seccion p {
        font-size: 14px;
    }

    /* ********************
FIN SERVICIOS
****************************/



    /* ********************
TARJETA GES INICIO
****************************/
    .contenido-tarjetages td {
        display: block;
    }

    .contenido-tarjetages td {
        display: block;
        height: auto !important;
        width: 333px !important;
    }

    /* ********************
TARJETA GES FIN
****************************/





    /* -------------------
 ORGANIGRAMA INICIO
  -------------------- */

    .contenido-organigrama table td {
        /* width: 100%; */
        display: inline-table;
        width: 300px;
    }

    .id_172 {
        min-height: 291px;
    }

    .three-173 .descripcion p {
        line-height: 1;
    }

    .three-173 .descripcion span {
        font-size: 25px !important;
    }

    .three-175 .justify-content-center,
    .three-174 .justify-content-center {
        justify-content: center !important;
        margin-bottom: 15px;
    }

    /* -------------------
 ORGANIGRAMA INICIO
  -------------------- */




    /* -------------------
 CREDITOS INICIO
  -------------------- */
    .contenido-creditos section.contenedor-seccion {
        flex: 0 0 auto;
        width: 47.5%;
    }

    .contenido-creditos section.contenedor-seccion .imagen-contenido-simple img {
        /* height: 167px; */
    }

    .contenido-creditos section.contenedor-seccion .descripcion-seccion {
        height: 45px;
        padding: 0 6px;
    }

    .contenido-creditos section.contenedor-seccion .boton {
        padding: 0 10px 10px 10px;
    }

    .contenido-creditos section.contenedor-seccion .boton .btn-azul {
        margin: inherit;
        font-size: 14px;
        padding: 4px 10px;
    }

    .contenido-creditos section.contenedor-seccion h2:nth-child(1) {
        font-size: calc(1.5rem + 0.1vw);

    }

    .contenido-creditos section.contenedor-seccion h2 {
        font-size: calc(1rem + 0.1vw);
        height: 26px;
    }

    .contenido-creditos section.contenedor-seccion .descripcion-seccion p {
        font-size: 14px;
    }



    .item-credito section.contenedor-seccion .design-four .imagen-contenido img,
    .item-credito section.contenedor-seccion .design-one .imagen-contenido img,
    .item-credito section.contenedor-seccion .design-two .imagen-contenido img {
        margin-bottom: 20px;
    }

    .item-credito section.contenedor-seccion p,
    .item-credito section.contenedor-seccion p span {
        font-size: 15px;
    }

    .item-credito table td {
        /* width: 100%; */
        display: inline-table;
        width: 300px;
    }

    /* -------------------
 CREDITOS FIN
  -------------------- */


    /* -------------------
 AHORROS INICIO
  -------------------- */
    .contenido-ahorros section.contenedor-seccion {
        flex: 0 0 auto;
        width: 47.5%;
        height: 285px;
    }

    .contenido-ahorros section.contenedor-seccion .imagen-contenido-simple img {
        /* height: 167px; */
    }

    .contenido-ahorros section.contenedor-seccion .descripcion-seccion {
        height: 45px;
        padding: 0 6px;
    }

    .contenido-ahorros section.contenedor-seccion .boton {
        padding: 0 10px 10px 10px;
    }

    .contenido-ahorros section.contenedor-seccion .boton .btn-azul {
        margin: inherit;
        font-size: 14px;
        padding: 4px 10px;
    }

    .contenido-ahorros section.contenedor-seccion h2:nth-child(1) {
        font-size: calc(1.5rem + 0.1vw);

    }

    .contenido-ahorros section.contenedor-seccion h2 {
        font-size: calc(1rem + 0.1vw);
        height: 26px;
    }

    .contenido-ahorros section.contenedor-seccion .descripcion-seccion p {
        font-size: 14px;
    }

    .contenido-ahorros section.contenedor-seccion:hover h2 {
        height: 26px;
    }

    .item-ahorro section.contenedor-seccion .design-four .imagen-contenido img,
    .item-ahorro section.contenedor-seccion .design-one .imagen-contenido img,
    .item-ahorro section.contenedor-seccion .design-two .imagen-contenido img {
        margin-bottom: 20px;
    }

    .item-ahorro section.contenedor-seccion p,
    .item-ahorro section.contenedor-seccion p span {
        font-size: 15px;
    }

    .item-ahorro table td {
        /* width: 100%; */
        display: inline-table;
        width: 300px;
    }

    /* -------------------
 AHORROS FIN
  -------------------- */

    /* -------------------
  DOCUMENTOS INCIIO
  -------------------- */
    .docs-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .docs-container .docs-header h3 {
        font-size: calc(1.125rem + .6vw);
    }

    .docs-container .items-docs-row .doc-item-file h4 {
        font-size: calc(1rem + .3vw);

    }

    /* -------------------
  DOCUMENTOS FIN
  -------------------- */

}



@media (width < 576px) {

    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .fondo-imagen-responsive {
        position: relative;
        background-color: #727272;
    }


    .img-banner-internas {
        /* height: 200px;  */
        width: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        font-weight: 700;

    }

    .titulo-banner-internas {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-weight: 700;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */


    /* HOME */
    .id_11 .design-four {
        margin-bottom: 20px;
    }



    /*++++++++++++++++++++++++++++++++
INICIO SECCION COMPLETA DIRECTORIO
 ++++++++++++++++++++++++++++++++++++++++ */

    .id_30 .design-two h2 {
        display: none !important;
    }

    .id_30 .design-two {
        margin-bottom: 45px;
    }

    .id_30 .design-two h2.titulo-1 {
        display: block !important;
        text-align: center;
    }

    .id_30 .design-two .col-sm-6:nth-child(2) {
        padding: 0 15px 0 15px;
    }

    .id_30 .design-two .descripcion {
        margin-top: 20px;
    }

    /*++++++++++++++++++++++++++++++++
FIN SECCION COMPLETA DIRECTORIO
 ++++++++++++++++++++++++++++++++++++++++ */


    /* ********************
INICIO SERVICIOS
****************************/
    .item-servicios section.contenedor-seccion .design-four .imagen-contenido img,
    .item-servicios section.contenedor-seccion .design-one .imagen-contenido img,
    .item-servicios section.contenedor-seccion .design-two .imagen-contenido img {
        margin-bottom: 20px;
    }

    .item-servicios section.contenedor-seccion p,
    .item-servicios section.contenedor-seccion p span {
        font-size: 15px;
    }

    .item-servicios table td {
        /* width: 100%; */
        display: inline-table;
        width: 300px;
    }

    /* ********************
FIN SERVICIOS
****************************/



    /* ********************
INICIO AHORROS
****************************/

    .contenido-ahorros section.contenedor-seccion .descripcion-seccion {
        transform: translateY(0px);
    }

    .contenido-ahorros section.contenedor-seccion h2 {
        transform: translateY(0px);
    }

    .contenido-ahorros section.contenedor-seccion {

        height: 235px;
    }



    /* ********************
FIN AHORROS
****************************/
}