@media (width <992px) {

    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .contenido-banner {
        width: 100%;
        padding: 39px 55px 48px 46px;
    }

    .contenido-banner h4 {
        font-size: 13px;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */




    /* -------------------
  HEADER INICIO
  -------------------- */
    header .vr {
        display: none;
    }

    header .navbar .nav-item {

        justify-content: start;
        /* border-right: 1px solid #ffffff3d; */
    }

    header .navbar-nav .dropdown-menu {
        position: absolute;
    }
    header p:first-child{

            line-height: 1;
        text-align: center;
    }
    .welcome-text {
        font-size: 25px;

    }
    .highlight {
        font-size: 18px;
    }
    /* -------------------
  HEADER FIN
  -------------------- */


    /* -------------------
  FOOTER INICIO
  -------------------- */
    footer .col-12 {
        margin-bottom: 20px;
    }

    footer .img img {
        margin: auto;
        display: block;
    }

    .titulo-footer,
    .derechos {
        text-align: center;
        margin: auto;

    }

    .id_2 {
        padding: 15px 0;
    }

    .footer-desc {
        text-align: center !important;
    }

    .id_2 .justify-content-start.text-left{
        justify-content: center !important;
    }
    .footer-info{
  
        display: grid;
        align-items: center;
        gap: 2px;

        place-items: center;
        margin-bottom: 10px;

    }
    footer .btn-primary {
        margin: auto;
    }


    .redes-footer {
        margin: auto;

    }

    /* -------------------
FOOTER FIN
-------------------- */


}



@media (max-width:767px) {

    /* BANNER INCIIO */
    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .contenido-banner {
        padding: 8px 32px 9px 48px;
    }

    .carousel-control-prev-icono {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }

    .carousel-control-next-icono {

        width: 30px;
        height: 30px;
        font-size: 15px;

    }


    .contenido-banner p {
        display: none;
    }

    .fondo-imagen-responsive .btn-vinotinto {
        font-size: 10px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 12%;
    }



    header .btn-amarillo {
        font-size: 9px !important;
        margin-right: 8px;
    }


    .fondo-imagen-responsive img {
        width: 100%;
        object-fit: contain;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */

    .btn-azul {
        margin: 25px auto 0 auto;
    }


}



@media (width < 576px) {

    /* -------------------
  BANNER INTERNAS INICIO
  -------------------- */
    .fondo-imagen-responsive {
        position: relative;
        background-color: #727272;
    }


    .img-banner-internas {
        /* height: 200px;  */
        width: 100%;
        object-fit: cover;
        mix-blend-mode: multiply;
        font-weight: 700;

    }

    .titulo-banner-internas {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        text-align: center;
        font-weight: 700;
    }

    /* -------------------
  BANNER INTERNAS FIN
  -------------------- */


    /* HOME */
    .id_11 .design-four {
        margin-bottom: 20px;
    }
}